#tab_plugin_NanoFactory {
    background-color: #2c2a2a;
    color: #fff;
}

.nanofactory-tab-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nanofactory-header {
    margin: 0
}

.nanofactory-code {
    background-color: #1C1E1F;
    color: white;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.install-instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.copy-icon {
    cursor: pointer;
    margin-right: 2.5px;
    float: right;
    border: 1px solid #161b22;
    padding: 5px;
    border-radius: 5px;
}

.copy-icon:hover {
    background-color: #30363d;
}

.nanofactory-tab-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.combined-container-parent {
    width: 100%;
}

.combined-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 27rem;
}

.half-width {
    width: 12rem !important;
}

.full-width {
    width: 100% !important;
}

.change-button {
    width: 3rem;
}

.success-button {
    background-color: #32509D;
}

.success-button:hover {
    background-color: #2a4381;
}

.danger-button {
    background-color: #D32F2F;
}

.danger-button:hover {
    background-color: #b71c1c;
}

.neutral-button {
    background-color: #393939;
}

.neutral-button:hover {
    background-color: #4b4b4b;
}

.combined-container {
    display: flex;
    flex-direction: row;
}

.nanofactory-button {
    height: 2rem;
    width: 5rem;
    border-radius: 12px;
    border: 1px solid #777777;
    transition: background-color 0.2s ease-in-out;
    color: white;
}

.nanofactory-input-field {
    width: 19rem;
    border-radius: 12px !important;
    background-color: #2c2a2a !important;
    color: #fff !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1%;
}

/* Styles for the toggle button */
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 3rem;
    height: 1.5rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: #2c2a2a;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.stable-label {
    color: #32509D;
}

.dev-label {
    color: white;
}

.container-center {
    text-align: center;
}

.toggle-checkbox:checked+.toggle-switch {
    background: #fff;
}

.toggle-switch:not(:checked) {
    background: #32509D;
}

/* All styles for the confirmation modal */

.nanofactory-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    color: #fff;
    border-radius: 12px;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nanofactory-modal-content {
    position: relative;
    background-color: #252525;
    padding: 1rem;
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.nanofactory-modal-header {
    display: flex;
    font-size: 1.2rem;
    font-weight: 750;
}

.nanofactory-modal-close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 1rem;
}

.nanofactory-modal-body {
    padding: 1rem 0;

}

.nanofactory-modal-footer {
    float: right;
}