#tab_plugin_NanoFactory {
    background-color: #2c2a2a;
    color: #fff;
}

.nanofactory-tab-container {
    padding: 1.5rem;
    width: -webkit-fill-available;
}

.center-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nanofactory-header {
    margin: 0
}

.nanofactory-code {
    background-color: #1C1E1F;
    color: white;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.install-instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.linux-setup-instructions {
    width: 100%;
}

.nanofactory-ssh-iframe {
    height: 15rem;
    width: 100%;
}

.copy-icon {
    cursor: pointer;
    margin-right: 2.5px;
    float: right;
    border: 1px solid #161b22;
    padding: 5px;
    border-radius: 5px;
}

.copy-icon:hover {
    background-color: #30363d;
}


.tab-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    background: #222222;
    border-radius: 20px;
    cursor: pointer;
}

.tab-label {
    transition: background-color 0.25s ease;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    padding: 0.5rem 0rem;
}

.active-tab {
    background-color: #393939;
}

.nanofactory-tab-container-body {
    position: relative;
}

#conPan div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.combined-container-parent {
    width: 100%;
}

.combined-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 27rem;
}

.half-width {
    width: 12rem !important;
}

.full-width {
    width: 100% !important;
}

.full-available-width {
    width: -webkit-fill-available;
}

.change-button {
    width: 3rem;
}

.success-button {
    background-color: #32509D;
}

.success-button:hover {
    background-color: #2a4381;
}

.danger-button {
    background-color: #D32F2F;
}

.danger-button:hover {
    background-color: #b71c1c;
}

.neutral-button {
    background-color: #393939;
}

.neutral-button:hover {
    background-color: #4b4b4b;
}

.combined-container {
    display: flex;
    flex-direction: row;
}

.nanofactory-button {
    height: 2rem;
    width: 5rem;
    border-radius: 12px;
    border: 1px solid #777777;
    transition: background-color 0.2s ease-in-out;
    color: white;
}

/* add styling for when the button is disabled */
.nanofactory-button:disabled {
    background-color: #393939;
    border: 1px solid #393939;
    color: #777777;
    cursor: not-allowed;
}

.nanofactory-input-field {
    width: 19rem;
    border-radius: 12px !important;
    background-color: #2c2a2a !important;
    color: #fff !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1%;
}

.unset-width {
    width: unset !important;
}

/* Styles for the toggle button */
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 3rem;
    height: 1.5rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: #2c2a2a;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.stable-label {
    color: #32509D;
}

.dev-label {
    color: white;
}

.container-center {
    text-align: center;
}

.toggle-checkbox:checked+.toggle-switch {
    background: #fff;
}

.toggle-switch:not(:checked) {
    background: #32509D;
}

/* styles for the material checkbox */
.tabs-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    /* color: rgba(var(--tabs-onsurface-rgb, 0, 0, 0), 0.87); */
    /* font-family: var(--tabs-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system); */
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.tabs-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* background-color: rgba(var(--tabs-onsurface-rgb, 0, 0, 0), 0.6); */
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.tabs-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.tabs-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    /* border-color: rgba(var(--tabs-onsurface-rgb, 0, 0, 0), 0.6); */
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.tabs-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
    /* set check mark color to white */
    border-color: white !important;

}

/* Checked, Indeterminate */
.tabs-checkbox>input:checked,
.tabs-checkbox>input:indeterminate {
    background-color: #32509D;
}

.tabs-checkbox>input:checked+span::before,
.tabs-checkbox>input:indeterminate+span::before {
    border-color: #32509D;
    background-color: #32509D;
}

.tabs-checkbox>input:checked+span::after,
.tabs-checkbox>input:indeterminate+span::after {
    border-color: rgb(var(--tabs-onprimary-rgb, 255, 255, 255));
}

.tabs-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.tabs-checkbox:hover>input {
    opacity: 0.04;
}

.tabs-checkbox>input:focus {
    opacity: 0.12;
}

.tabs-checkbox:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.tabs-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.tabs-checkbox>input:active+span::before {
    border-color: #32509D;
}

.tabs-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(var(--tabs-onsurface-rgb, 0, 0, 0), 0.6);
}


/* All styles for the confirmation modal */

.nanofactory-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    color: #fff;
    border-radius: 12px;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    width: 100vw;
    height: 100vh;
}

.nanofactory-modal-content {
    position: relative;
    background-color: #252525;
    padding: 1rem;
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.nanofactory-modal-header {
    display: flex;
    font-size: 1.2rem;
    font-weight: 750;
}

.nanofactory-modal-close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 1rem;
}

.nanofactory-modal-body {
    padding: 1rem 0;

}

.nanofactory-modal-footer {
    float: right;
}