<h3>NanoFactory</h3>


<div>
    <button data-bind="click: getPeerID" class="btn btn-primary">Copy Peer ID to Clipboard</button>
    <div><span data-bind="text: peerIDMessage" /></div>
</div>

<br />
<!-- 
<div>
    <button data-bind="click: startAuthFlow" class="btn btn-primary">Start Auth Flow</button>
</div> -->